* {
  margin: 0;
  padding: 0;
  font-family: "Inter", serif;
}

:root {
  --primary-color: #006591;
  --secondary-color: #fea619;
  --text-one: #684000;
  --text-two: #3e4850;
  --text-three: #131b2e;
  --white: #ffffff;
  --btn-color1: #003751;
  --bg-color1: #0ea5e9;
  --bg-color2: #ffffff29;
  --bg-color3: #e7f2f9;
  --bg-color4: #f2f3ff;
  --border-color: #6e6e6e;
  --border-color2: #bec8d2;
  --body-color: #faf8ff /* --meraname: #006591; */;
  --non-active-color: #a1a4ab;
}
img {
  width: 100%;
}
body {
  background-color: var(--body-color);
  padding-bottom: 150px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

#sub-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#sub-header nav ul {
  display: flex;
  gap: 20px;
}
#sub-header nav ul li {
  list-style: none;
}
#sub-header nav ul li:hover {
  color: var(--primary-color);
  cursor: pointer;
  border-bottom: 2px solid var(--primary-color);
}
#logo img {
  max-width: 165px;
}
header {
  padding: 15px 0px;
}
header button {
  border: none;
  background-color: var(--secondary-color);
  color: var(--text-one);
  font-weight: bold;
  border-radius: 30px;
  padding: 12px 25px;
}

#hero-section {
  height: 900px;
  background-image: url("./../images/Container.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#overview h3 {
  font-size: 64px;
  color: var(--white);
  font-weight: bolder;
}

#overview p {
  color: var(--white);
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 30px;
}

#overview-btns {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.common-styling {
  padding: 20px 40px;
  border-radius: 12px;
  font-size: 18px;
  border: none;
  font-weight: bolder;
  /* transform ki property ko jab ap apply karo to 2s delay ayega */
  transition: transform 0.5s;
}
#overview-btn-1 {
  background-color: var(--bg-color1);
  color: var(--btn-color1);
}
#overview-btn-2 {
  background-color: var(--bg-color2);
  color: var(--white);
  border: 1px solid var(--border-color);
}
.common-styling:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

#popuplar-destination h4 {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 14px;
}

#popuplar-destination h2 {
  color: var(--text-three);
  font-size: 32px;
  margin-bottom: 50px;
}

#popuplar-destination {
  text-align: center;
  padding-top: 70px;
}

.popuplar-destination-card {
  background-color: var(--white);
  border-radius: 12px;
  overflow: auto;
  flex-basis: 30%;
}

.popuplar-destination-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.popuplar-destination-card-header {
  position: relative;
}

.popuplar-destination-card-price {
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--primary-color);
  background-color: var(--bg-color3);
  border-radius: 50px;
  padding: 5px 10px;
  font-weight: bold;
}

.popuplar-destination-card-body {
  padding: 15px;
  text-align: left;
}

.popuplar-destination-card-body h3 {
  color: var(--text-three);
  font-size: 24px;
  font-weight: bold;
}
.popuplar-destination-card-body p {
  color: var(--text-two);
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.popuplar-destination-card-body button {
  border: 2px solid var(--bg-color1);
  width: 100%;
  background-color: transparent;
  padding: 8px 0px;
  border-radius: 4px;
  color: var(--primary-color);
  font-size: 16px;
  font-weight: bold;
}

#why-choose-us {
  background-color: var(--bg-color4);
  padding: 95px 0px;
  margin-top: 50px;
  text-align: center;
}

#why-choose-first-p {
  margin-top: 25px;
  margin-bottom: 55px;
  color: var(--text-two);
  font-size: 16px;
}

#parent-why-choose-box {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
#why-choose-us h2 {
  font-size: 32px;
  color: var(--text-three);
}

.why-choose-items {
  background-color: var(--white);
  border-radius: 10px;
  padding: 50px;
}
.why-choose-items img {
  width: 64px;
  margin-bottom: 20px;
}

.why-choose-items h4 {
  color: var(--text-three);
  font-size: 18px;
  margin-bottom: 10px;
}

.why-choose-items p {
  color: var(--text-two);
  font-size: 16px;
}

#counter-container {
  background-color: var(--primary-color);
  padding: 40px 0px;
}

#counter-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.counter-childs {
  flex-grow: 1;
  text-align: center;
}
.counter-childs h3 {
  color: var(--white);
  font-size: 64px;
}
.counter-childs p {
  color: var(--white);
  font-size: 14px;
}

#tour-package-container {
  padding-top: 120px;
  padding-bottom: 80px;
  text-align: center;
}

.common-heading {
  color: var(--text-three);
  font-size: 32px;
}
.common-paragraph {
  color: var(--text-two);
  font-size: 16px;
}

#tour-packages {
  display: flex;
  gap: 30px;
  margin-top: 60px;
}

.tour-packages-items {
  flex-grow: 1;
  border: 1px solid var(--border-color2);
  background-color: var(--white);
  padding: 20px;
  border-radius: 17px;
  text-align: left;
}

.package-information {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  color: var(--text-two);
}
.package-information img {
  width: 20px;
}
.package-name {
  color: var(--text-three);
  font-size: 34px;
  margin-bottom: 20px;
}
.package-pricing {
  margin-bottom: 20px;
  color: var(--text-two);
  font-weight: normal;
}
.package-pricing span {
  color: var(--primary-color);
  font-size: 36px;
  font-weight: bolder;
}

.tour-packages-items button {
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  font-size: 16px;
  color: var(--primary-color);
  background-color: var(--white);
  width: 100%;
  padding: 15px;
  font-weight: bolder;
  margin-top: 60px;
}
.tour-packages-items button:hover {
  cursor: pointer;
}
.non-active-package-information {
  opacity: 0.4;
}

#tour-packages-items-popular {
  border: 2px solid var(--primary-color);
  background-color: #e2f0fd;
  position: relative;
}
#tour-packages-items-popular button {
  background-color: var(--primary-color);
  color: var(--white);
}

#most-popular-tag {
  position: absolute;
  top: -13px;
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 15px;
  /* for centering the item when using absolute property */
  left: 50%;
  transform: translateX(-50%);
}

#capture-memories-container {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  background-color: var(--bg-color4);
}
#capture-memories-images {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 30px;
}
.capture-memories img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.capture-memories {
  height: 250px;
  flex-basis: calc(25% - 20px);
  border-radius: 16px;
  overflow: hidden;
}

.capture-some-large-images {
  flex-basis: 50%;
}

#subscribe-module {
  background-color: var(--white);
  padding: 80px 0px;
  text-align: center;
}

#subscribe-box {
  background-color: var(--primary-color);
  padding: 60px;
  border-radius: 20px;
  color: var(--white);
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
#subscribe-box h3 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

#subscribe-box p {
  margin-bottom: 20px;
  font-size: 16px;
}

#subscribe-form {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

#subscribe-form-input input {
  padding: 15px 20px;
  border-radius: 8px;
  border: none;
}

#subscribe-form-input input:focus {
  outline: none;
}

#subscribe-form-btn button {
  background-color: var(--secondary-color);
  color: var(--text-one);
  border: none;
  padding: 13px 20px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
}
