/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

* {
  margin: 0;
  padding: 0;
}

/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

/* div is like a box */

#flexbox-parent {
  border: 1px solid red;
  padding: 2px;
  display: flex;
  /* by default flex-direction is row */
  /* flex-direction: row; */
  /* flex-direction: row-reverse; */
  /* flex-direction: column; */
  /* flex-direction: column-reverse; */

  /* default = flex-start */
  /* justify-content: flex-start; */
  /* justify-content: flex-end; */
  /* justify-content: center; */
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */

  /* default = nowrap */
  /* flex-wrap: nowrap; */
  /* flex-wrap: wrap; */
  /* flex-wrap: wrap-reverse; */

  height: 200px;

  /* stretch (default) */
  /* align-items: stretch; */
  /* align-items: flex-start; */
  align-items: flex-end;
  /* align-items: center; */

  /* align-content */
  /* flex-wrap: wrap; */
  /* height: 400px; */

  /* align-content: flex-start; */
  /* align-content: flex-end; */
  /* align-content: center; */
  /* align-content: space-around; */
  /* align-content: space-evenly; */
  /* align-content: space-between; */

  /* row-gap: 10px; */
  /* column-gap: 10px; */
  /* row/column:10px */
  /* gap: 10px;  */
}

.flexbox-child {
  background-color: antiquewhite;
  border: 1px solid yellowgreen;
  padding: 20px;
}

#flex-one {
  /* order: 3; */
  align-self: flex-start;
}
#flex-two {
  /* order: 2; */
  /* flex-grow:0 is by default */
  /* flex-grow: 1; */
  align-self: center;
}
#flex-three {
  /* order: 1; */
  /* flex-grow: 2; */
  /* flex-shrink: 3; */
  /* flex-basis = width */
  /* flex-basis: 40%; */
  /* width: 40%; */
  /* align-self: flex-start; */
  align-self: flex-end;
  /* align-self: center; */
}
